.portfolio
    &__bg
        position: relative
        &::before
            content: ''
            position: absolute
            left: 0
            top: 0px
            background: url('../img/portfolio-bg.jpg') center no-repeat
            width: 100%
            min-height: 1200px
        &::after
            content: ''
            position: absolute
            left: 0
            bottom: -290px
            background: url('../img/cloud-bottom.png') center no-repeat
            width: 100%
            min-height: 456px
    .section
        &-title
            &__heading
                span
                    display: block
                    font-weight: normal
    &__section
        &-title
            position: relative
            z-index: 5
            padding-top: 173px
            margin-left: 10px
    &-master
        &s
            &__size
                position: relative
                z-index: 5
                top: -55px
                left: 10px
            &__wrapper
                .portfolio-master
                    &__item
                        max-width: 1247px
                        margin: 0 auto
                        min-height: 682px
                        background: url('../img/bg-bg.png') center no-repeat
        &__image
            max-width: 1126px
            margin: 0 auto
            padding-top: 54px