.portfolio
    &__bg
        position: relative
        &::before
            content: ''
            position: absolute
            left: 0
            top: 0px
            background: url('../img/portfolio-bg.jpg') center no-repeat
            width: 100%
            min-height: 1200px
        &::after
            content: ''
            position: absolute
            left: 0
            bottom: -300px
            background: url('../img/cloud-bottom.png') center no-repeat
            width: 100%
            min-height: 456px
    .container
        max-width: 1350px
    .section
        &-title
            &__heading
                span
                    display: block
                    font-weight: normal
    &__section
        &-title
            position: relative
            z-index: 5
            padding-top: 173px
            margin-left: 10px
    &-master
        &s
            &__size
                position: relative
                z-index: 9
                top: -55px
                left: 10px
                .swiper
                    &-slide
                        &-active
                            .portfolio
                                &-master
                                    &__inner
                                        &::before,
                                        &:after
                                            content: ''
                                            position: absolute
                                            top: 30%
                                            background: url('../img/lines.png') center no-repeat
                                            width: 201px
                                            height: 201px
                                        &::before
                                            left: 0
                                        &::after
                                            right: 0
                    &-button
                        &-prev,                 
                        &-next
                            background: url('../img/ar-r.png') center no-repeat
                            width: 28px
                            height: 28px  
                            top: 43%
                            &::after
                                display: none 
                            &.swiper-button-disabled
                                pointer-events: auto
                                opacity: 1
                                cursor: pointer                
                        &-prev
                            left: 5.2% !important
                            right: auto
                            transform: rotate(180deg)
                        &-next   
                            right: 5.2% !important 
                            left: auto              
        &__image
            max-width: 1247px
            height: 800px
            margin: 0 auto
            position: relative
            z-index: 2
        &__inner
            margin: 0 auto
        &__bottom
            position: absolute
            bottom: 7%
            left: 17%
            &-flex
                +flex-wrap
            &-name
                font-size: 18px
                color: $black
                line-height: 24px
                padding-right: 40px
                position: relative
                z-index: 5
                &::after
                    content: ''
                    position: absolute
                    top: 0
                    right: -64px
                    background: url('../img/rocket.png') center no-repeat
                    width: 50px
                    height: 51px
                &::before
                    content: ''
                    position: absolute
                    top: -3px
                    right: -80px
                    width: 1px
                    height: 60px
                    background-color: $line
                span
                    font-weight: bold
                    color: $darkBlue
                    display: block
            &-attendance
                position: relative
                z-index: 5
                margin-left: 100px
                padding-right: 56px
                &::after
                    content: ''
                    position: absolute
                    top: 0
                    right: -64px
                    background: url('../img/card.png') center no-repeat
                    width: 59px
                    height: 48px
                &::before
                    content: ''
                    position: absolute
                    top: -3px
                    right: -78px
                    width: 1px
                    height: 60px
                    background-color: $line
                p
                    font-size: 18px
                    color: $black
                    line-height: 24px
                    margin: 0
                    span
                        font-weight: 900
                        color: $darkBlue
            &-income
                font-size: 18px
                color: $black
                line-height: 24px
                max-width: 200px
                position: relative
                z-index: 5
                margin-left: 98px
                span
                    font-weight: 900
                    color: $darkBlue
.portfolio
    &-slider
        opacity: 0
        visibility: hidden
        width: 0
        height: 0
    .swiper
        &-button
            &-next
                right: 10%
            &-prev
                left: 10%
        &-pagination
            &::after
                content: ''
                position: absolute
                top: 0
                right: 0
                width: 1px
                height: 60px
                background-color: $line
            &-fraction
                position: absolute
                bottom: 8%
                left: 10%
                width: auto
                color: $total
                font-size: 18px
            &-current
                font-size: 53px
                color: rgba(65, 94, 125, 0.902)
                font-style: italic
                font-weight: 900
            &-total
                padding-right: 23px