.reviews
    &__bg
        margin-top: 150px
    &__section
        &-title
            margin-left: 10px
    &-block
        &__inner
            font-size: 18px  
            color: $darkBlue          