.reviews
    background-color: $lightGrey
    .container
        max-width: 1270px
    &__bg
        margin-top: 150px
        position: relative
        &::after
            content: ''
            position: absolute
            left: 0
            bottom: -300px
            width: 100%
            min-height: 703px
            background: url('../img/logo/cloud-botton.png') center no-repeat
            z-index: 5
    &__section
        &-title
            margin-left: 10px
            padding-top: 15px
    &-block
        &__item
            margin-top: -40px
            position: relative
            z-index: 8
            &::before,
            &::after
                content: ''
                position: absolute
                top: 23%
                background: url('../img/lines2.png') center no-repeat
                width: 201px
                height: 201px
            &::before
                left: -6%
            &::after
                right: -6%
            .swiper
                &-button
                    &-prev,
                    &-next
                        position: absolute
                        top: 49%
                        width: 32px
                        height: 32px
                        &::after
                            display: none
                    &-prev
                        background: url('../img/logo/prev.png') center no-repeat
                        left: 0.5%
                    &-next
                        background: url('../img/logo/next.png') center no-repeat
                        right: 0.5%
                &-active
                    max-width: 610px
.swiper
    &-slide
        +flex
        justify-content: space-between
        &__item
            position: relative
            z-index: 50
            background: url('../img/logo/whats_1.png') center no-repeat
            max-width: 582px
            width: 100%
            min-height: 396px
            background-size: cover
            padding: 40px 60px 50px
            &:nth-child(odd)
                margin-left: 10px
        &-active
            position: relative
            &::after
                content: ''
                background: url('../img/logo/circle.png') no-repeat
                width: 58px
                height: 58px
                position: absolute
                right: -35px
                top: 55%
                transform: translateY(-55px)
        &__inner
            +flex-items-center
            margin-top: 20px
            margin-left: 7px
            img
                padding-right: 27px
                border-right: 1px solid $line
        &__name
            margin: -3px 0 0 20px
            font-size: 18px  
            color: $darkBlue   
            line-height: 24px  
            font-weight: bold     
            width: 150px
        &__text
            margin: 29px 0 0 8px
            max-width: 450px
            overflow-y: scroll
            height: 200px
            &::-webkit-scrollbar
	            width: 12px
            &::-webkit-scrollbar
                &-thumb
                    border-width: 1px 1px 1px 2px
                    background-image: linear-gradient(85deg, #5179a4 0%, #6aa9ec 100%)
                    &:hover
                        border-width: 1px 1px 1px 2px
                        border-color: #000
                        background-color: #000
                &-track
	                border-width: 1px 1px 1px 2px
            p
                color: $black
                line-height: 25px
                margin: 0
                max-width: 420px
                
        &__video
            margin-top: 40px
            height: 200px
            margin-left: 8px
.portfolio-masters__size
    .swiper-slide-active::after
        display: none
.portfolio-slider
    .swiper-slide-active::after
        display: none               